* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 5px 0 10px;
  background-color: #343637;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: #343637;
  background-color: #38A9B4;
  font-size: 40px;
  margin: 0;
}

header nav {
  padding-top: 15px;
  margin-right: 70px;
  float: right;
  font-size: 20px;
}

header nav ul li {
  display: inline-block;
  margin-left: 5px;
}

header nav ul li a {
  color: #38A9B4;
  font-size: 20px;
  border-bottom: 2px solid #38A9B4;
}

.hero{
  height: 210px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

.hero h3{
  float: right;
  margin-right: 70px;
  margin-top: 80px;
  padding: 5px 5px 5px 5px;
  font-size: 30px;
  background-color: #38A9B4;
}

.section-title {
  font-size: 50px;
  margin right: 3px;
}

.profile{
  padding-bottom: 20px;
  display: flex;
}

.intro p{
  padding-left: 20px;
  width: 50%;
}

.project-examples{
  background-size: cover;
}

.large-project {
  background-image: url("../images/surf-report.jpg");
}

.small-project{
  border: 2px solid #2CD7E8;
  object-fit: cover;
}

.primary-border {
  border-color: #343637;
}

.work-example {
  position: relative;
  width: 100%;
}
.text-block {
  position: absolute;
  bottom: 20px;
  background-color: #2CD7E8;
  color: #343637;
  border: 3px solid #468DA4;
}
img {
  border: 3px solid #468DA4;
}
.work {
  width: 618px;
  margin: 0 auto 30px auto;
  background: white;
  overflow: auto;
}
.intro p{
  text-align: right;
}